html { 
    background: url("imagesBird/bg7.jpg") no-repeat center fixed; 
    background-size: cover;
    margin: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: rgba(255, 255, 255, 0.8);
    width: 1000px;
    margin: 0 auto;
    padding: 50px; 
    margin-top: 300px;
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
}

a:link, a:visited {
    background-color: rgb(125, 145, 209);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px; 
    margin-right: 5px;
    
}
  
a:hover, a:active {
    background-color: rgb(97, 114, 170);
} 

h1 {
    font-size: 20px;
}